<!DOCTYPE HTML>
<HTML>

<HEAD>

<script>

function checkText(){

	var name = document.forms["myFrom"].["nameText"]

}




</script>


</HEAD>

<BODY>
	
	<FORM id="myFrom" >
		<input type="number" id="idText" name="idText" placeholder="ID" required></br>
		<input type="text" id="nameText" name="nameText" placeholder="name" required></br>
		<input type="text" id="ageText" name="ageText" placeholder="age" required></br>
		<input type="text" id="emailText" name="emailtext" placeholder="email" required></br>
		<input type="submit">




	</FORM>



</BODY>

</HTML>